<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：命名空间，设置为数据层接口的全类名-->
<mapper namespace="com.hwua.managerdemo.mapper.BrandMapper">

    <select id="queryBySid" parameterType="int" resultType="map">
        SELECT *
        FROM brand
        WHERE brand_id IN (SELECT commodity.brand_id
                           FROM commodity
                           WHERE sort_id = #{sid}
                             AND commodity_states = 1
                           GROUP BY commodity.brand_id)
    </select>

    <select id="queryAll" resultType="map">
        SELECT *
        FROM BRAND
        WHERE BRAND_ID IN (SELECT BRAND_ID FROM COMMODITY WHERE COMMODITY_STATES = 1 GROUP BY BRAND_ID)
    </select>

    <select id="query" resultType="map">
        SELECT * FROM brand
    </select>

    <select id="query4status" resultType="map">
        SELECT * FROM brand WHERE brand_states = 1
    </select>
    
    <select id="queryByBid" parameterType="int" resultType="map">
        SELECT *
        FROM BRAND
        WHERE BRAND_ID = #{bid}
    </select>

    <select id="queryByBName" resultType="map">
        SELECT *
        FROM BRAND
        WHERE brand_name = #{brandName}
    </select>

    <insert id="addBrand" parameterType="map">
        INSERT INTO brand (brand_name)
        VALUES (#{brandName})
    </insert>

    <update id="editBrand" parameterType="map">
        UPDATE brand
        SET brand_name = #{brandName}
        WHERE brand_id = #{brandId}
    </update>

    <update id="banBrand" parameterType="map">
        UPDATE brand
        SET brand_states = #{status}
        WHERE brand_id = #{brandId}
    </update>
</mapper>

