<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：命名空间，设置为数据层接口的全类名-->
<mapper namespace="com.hwua.managerdemo.mapper.PermissionMapper">

    <select id="queryPermission" parameterType="int" resultType="map">
        SELECT *
        FROM sys_role,
             sys_permission,
             sys_role_permission
        WHERE sys_role.role_id = sys_role_permission.role_id
          AND sys_permission.permission_id = sys_role_permission.permission_id
          AND sys_role.role_id = #{roleId}
    </select>

    <select id="queryAllPermission" resultType="map">
        SELECT * FROM sys_permission
    </select>

</mapper>

