<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.managerdemo.mapper.UserMapper">

    <select id="query4One" resultType="map">
        SELECT * FROM sys_user,sys_role,sys_user_role
        WHERE sys_user.user_id = sys_user_role.user_id
        AND sys_role.role_id = sys_user_role.role_id
        <if test="userId != null">
            AND sys_user.user_id = #{userId}
        </if>
        <if test="username != null">
            AND sys_user.username = #{username}
        </if>
        <if test="password != null">
            AND sys_user.password = #{password}
        </if>
    </select>

    <select id="query4User" parameterType="map" resultType="map">
        SELECT *
        FROM sys_user,
        sys_role,
        sys_user_role
        WHERE sys_user.user_id = sys_user_role.user_id
        AND sys_role.role_id = sys_user_role.role_id
        <if test="username != null">
            AND sys_user.username LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="userId != null">
            AND sys_user.user_id = #{userId}
        </if>
    </select>

    <select id="queryRoles" parameterType="int" resultType="map">
        SELECT *
        FROM sys_role
        WHERE role_id >= #{roleId} AND status = 1
    </select>

    <update id="doUpdate" parameterType="map">
        UPDATE sys_user
        SET username = #{username},
            tel      = #{tel},
            email    = #{email}
        WHERE user_id = #{userId}
    </update>

    <update id="ban" parameterType="map">
        UPDATE sys_user SET status = #{status} WHERE user_id = #{userId}
    </update>

    <insert id="insertUser" keyProperty="userId" useGeneratedKeys="true" parameterType="map">
        INSERT INTO sys_user (username, password, tel, email, photo)
        VALUES (#{username}, #{password}, #{tel}, #{email}, #{photo})
    </insert>

    <insert id="insertUserAndRole" parameterType="map">
        INSERT INTO sys_user_role (user_id, role_id)
        VALUES (#{userId}, #{role_id})
    </insert>

    <delete id="deleteUserAndRole" parameterType="map">
        DELETE FROM sys_user_role WHERE user_id=#{userId}
    </delete>
</mapper>

